/******************** Add/Edit Important Date Form ********************/

.form__header {
    padding: 3rem 2rem 3rem 2rem;
    border-bottom: 1px solid var(--surface);
    color: var(--primary-highlight);
    background: var(--surface);
    text-align: center;
}

#form__wrapper {
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    display: block;
    background-color: var(--surface);
    border: 1px solid var(--surface);
    color: var(--text-surface);
    border-radius: 8px;
    overflow: hidden;
}

#form__body {
    padding: 1rem 2rem 1rem 2rem;
}

#form__body label {
    margin-bottom: 0.5rem;
    margin-left: -10px;
    color: var(--text-surface);
}

#form__body input, #form__body textarea {
    margin: 0 0 1rem 0;
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    padding-left: 5px;
}

#char_count {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the  button */
#form__body button, #form__body a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--primary-highlight);
    border: 1px none;
    border-radius: 8px;
    overflow: hidden;
    color: var(--text-surface-highlight);
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#form__body button:hover, #form__body a:hover {
    filter: brightness(85%);
    cursor: pointer;
}
