/******************** Add/Edit Project Form ********************/

.project-form__header {
    padding: 3rem 2rem 3rem 2rem;
    border-bottom: 1px solid var(--surface);
    color: var(--primary-highlight);
    background: var(--surface);
    text-align: center;
}

#project-form__wrapper {
    display: block;
    background-color: var(--surface);
    border: 1px solid var(--surface);
    color: var(--text-surface);
    border-radius: 8px;
    overflow: hidden;
}

#project-form__form {
    padding: 1rem 2rem 1rem 2rem;
}

#project-form__form label {
    margin-bottom: 0.5rem;
    margin-left: -10px;
    color: var(--text-surface);
}

#project-form__form input, #project-form__form textarea {
    margin: 0 0 1rem 0;
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    padding-left: 5px;
}

/* Set a style for the  button */
#project-form__form button, #project-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--primary-highlight);
    border: none;
    border-radius: 8px;
    overflow: hidden;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--text-surface-highlight);
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#project-form__form button:hover, #project-form__form a:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.edit-project__wrapper{
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    width: 100%;
}