/******************** Add/Edit Sprint Form ********************/
body {
    background: var(--background);
}


.sprint-form__header {
    padding: 3rem 2rem 3rem 2rem;
    background: var(--surface);
    color: var(--primary-highlight);
    text-align: center;
}

#sprint-form__wrapper {
    display: block;
    background-color: var(--surface);
    border: 1px solid var(--surface);
    border-radius: 1.5rem;
    overflow: hidden;
}

#sprint-form__form {
    padding: 1rem 2rem 1rem 2rem;
}

#sprint-form__form label {
    margin-bottom: 0.5rem;
    margin-left: -10px;
    color: var(--text-surface);
}

#sprint-form__form input, #sprint-form__form textarea {
    margin: 0 0 1rem 0;
    border: none;
    border-radius: 5px;
    height: 40px;
    border-bottom: 2px solid lightgray;
    padding-left: 5px;
}

.form-error-message {
    margin-left: 10px;
    color: red;
    margin-top: -5px;
    margin-bottom: 10px;
}


/* Set a style for the  button */
#sprint-form__form button, #sprint-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--primary-highlight);
    border: 1px solid var(--primary-highlight);
    border-radius: 8px;
    overflow: hidden;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#sprint-form__form button:hover, #sprint-form__form a:hover {
    filter: brightness(80%);
    cursor: pointer;
}