/******************** Add Evidence Form ********************/
.container {
    border: 1px solid var(--surface);
    border-radius: 8px;
    background-color: var(--surface);
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    max-width: 500px;
    margin: 50px auto;
    padding: 0!important;
}

.evidence-form__header {
    padding: 2rem 2rem 1rem 2rem;
    border-bottom: 1px solid var(--surface);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: var(--surface);
    color: var(--primary-highlight);
    text-align: center;
}

#evidence-form__wrapper {
    width: 100%;
    display: block;
    background-color: var(--surface);
    border: 1px solid var(--surface);
    border-radius: 8px;
    padding: 15px;
}

#evidence-form__form {
    padding: 1rem 2rem 1rem 2rem;
}

/*#evidence-form__form label {*/
/*    margin-bottom: 0.5rem;*/
/*}*/

#editable-skill-tag {
    margin: 0 !important;
    border: none !important;
}

#evidence-form__form input, #evidence-form__form textarea {
    border: none;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
}

#evidence-form__helper {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the button */
.evidence-form__control-button {
    padding: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--primary-highlight);
    border: 1px solid var(--surface);
    border-radius: 8px;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: black !important;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
.evidence-form__control-button:hover {
    filter: brightness(80%);
    cursor: pointer;
    color: black;
}

.evidence-form__control-button:disabled {
    background-color: gray;
    cursor: default;
}

.evidence-form__error-message {
    text-align: center;
    color: red;
    font-size: small;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.evidence-form__add-commits-button-wrapper {
    display: flex;
}

.evidence-form__add-commits-button {
    margin-bottom: 15px;
    background-color: var(--primary-highlight);
    border: none !important;
}

.evidence-form__add-commits-button:hover {
    filter: brightness(85%);
    background-color: var(--primary-highlight);
}

.add-evidence-commits__wrapper {
    display: flex;
    flex-direction: column;
}

#commit-container {
    margin-bottom: 10px;
}

/* skill and user input */

.input-container {
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin: 7px 0 7px 4px !important;
    position: relative;
}

.strip-margin {
    margin: 0 !important;
}

p {
    padding: 0;
}

/* Autocomplete */

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    overflow-wrap: anywhere;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* skills */

#skill-input-container {
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
}

#skill-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

.skill-tag-con {
    display: inline-flex;
    margin: 4px;
}

.skill-tag {
    width: fit-content;
    height: fit-content;
    background-color: var(--primary-highlight);
    border: 1px solid var(--primary-highlight);
    padding: 2px 4px 2px 4px;
    display: inline-block;
    border-radius: 5px;
    overflow-wrap: anywhere;
    text-align: center;
}

.skill-tag-inside, .commit-tag-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#commit-filter-box {
    background-color: var(--surface);
    color: var(--text-surface);
}

.commit-modal-inside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 5px;
    overflow-wrap: anywhere;
}

.commit-tag-outside {
    justify-content: center;
}

#skills-input {
    display: flex;
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
    width: 80px;
    background: #fff;
}

#skills-input:focus {
    outline: none;
}

#user-input-container {
    display: block;
    margin-bottom: 1rem;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    border-radius: 5px;
}

#user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

.user-tag-con {
    display: inline-flex;
    margin: 4px;
}

.user-tag {
    width: fit-content;
    height: fit-content;
    background-color: var(--primary-highlight);
    border: 1px solid var(--primary-highlight);
    padding: 2px 4px 2px 4px;
    display: inline-block;
    border-radius: 5px;
    overflow-wrap: anywhere;
    text-align: center;
}

.user-tag-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-tag-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.user-tag-text {
    flex-direction: column;
    padding-left: 10px
}

.user-tag-nickname {
    color: #636363;
}

.commit-author {
    color: #636363;
    font-size: small;
    overflow-wrap: anywhere;
}

.commit-description {
    overflow-wrap: anywhere;
}

#users-input {
    display: flex;
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
    width: 60px;
    background: #fff;
}

#users-input:focus {
    outline: none;
}

#add-evidence-commits__wrapper {
    display: flex;
    flex-direction: row;
}

.web-link {
    display: flex;
}

.web-link__link {
    margin-left: 8px !important;
}

#evidence-form__webLink-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
    margin-left: 1rem;
}

.commits-modal {
    background-color: var(--surface);
    color: var(--text-surface);
}

#commit-filter__date-box {
    display: flex;
    flex-direction: row;
}

#commit-filter__start-date {
    min-width: 125px;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    border: none;
    border-radius: 5px;
}

#commit-filter__end-date {
    min-width: 125px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    border: none;
    border-radius: 5px;
}

#commit-filter-box {
    padding: 5px;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: var(--surface-highlight);
    color: var(--text-surface);

}

#commit-filter__group-selection,
#commit-filter__branch-selection,
#commit-filter__member-selection,
#commit-filter__id-search {
    margin-bottom: 5px;
    background-color: var(--surface-imbed);
    color: var(--text-surface);
    border: none;
    border-radius: 8px;
}

#commit-filter__save-button {
    margin-bottom: 5px;
    background-color: var(--primary-highlight);
    color: var(--text-surface);
    border: none;
    border-radius: 8px;
}

#commit-filter__save-button:hover {
    filter: brightness(85%);
}

#commit-filter__label {
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.subtitle {
    color: var(--text-surface);
    margin-left: -20px;
    margin-top: 15px;
}

#commit-filter__sprint-selection {
    background-color: var(--surface-highlight);
    color: var(--text-surface);
    border: none;
    border-radius: 5px;
}

.evidence-form__wrapper {
    height: 90px;
    background: var(--surface);
    border-radius: 5px 5px 0 0;
    color: var(--primary-highlight);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evidence-form__wrapper form{
    padding: 10px 25px 10px 25px;
}

.evidence-form__wrapper form .row{
    height: 40px;
    margin-bottom: 10px;
    position: relative;
}
.evidence-form__wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: black;
    box-shadow: inset 0 0 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
    color: #999;
}

.add-weblink__button {
    margin-top: 10px;
    width: 100%;
}

#evidence-form__webLink-link {
    margin-top: 10px;
}

.checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}
.checkboxes input {
    vertical-align: middle;
}
.checkboxes label span {
    vertical-align: middle;
}