/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

/******************** Evidence Cards ********************/

.evidence__form-wrapper {
    visibility: hidden !important;
}

.evidence__button-wrapper {
    padding-bottom: 10px;
    padding-top: 7px;
    margin-left: auto;
    float: right;
}

.evidence__button-wrapper button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

.web-link-title {
    float: left;
}

.evidence__collapsed {
    display: block;
    position: relative;
    border-radius: 5px;
    background-color: var(--surface);
    padding: 0 2rem 0 2rem;
    margin-top: 1rem;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
}

.evidence-title__child {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 90%;
}

.likes__button {
    vertical-align: middle;
    margin: auto;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: var(--color-complement);
    font-size: 30px;
}

.evidence-title__likes{
    width: 10%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.like__number {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin: auto;
    white-space: nowrap;
}

.like__number:hover {
    text-decoration: underline;
}

.evidence-title__left-div {
    display: flex;
    flex-direction: column;
}

.evidence-title__weblinks-commits-div {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: auto;
}

#evidence-title__weblinks {
    padding-right: 15px;
}


/** Evidence delete and edit buttons */

.evidence-title-div__buttons {
    display: flex;
    flex-direction: row;
}

.evidence-title-div__button {
    padding: 25px 10px 25px 10px;
    margin: 0 -20px 0 0;
    font-size: 15px;
    width: 100px;
}

.evidence-title--form {
    padding: 0;
    width: 85%;
    height: 100%;
    margin: 0;
}

.evidence-title--icon_container {
    width: 100%;
    color: var(--text-surface);
    padding: 20px 20px 10px 20px;
    /*border: 1px solid var(--color-accent);*/
    border-radius: 5px;
    background-color: var(--primary-highlight);
    cursor: pointer;
    border: none;
}

.evidence-title--icon_container-delete {
    width: 100%;
    color: var(--text-surface);
    /*border: 1px solid var(--color-accent);*/
    border: none;
    border-radius: 5px;
    background-color: var(--primary-highlight);
    margin: -8px 0 0 0;
    padding: 5px 0 4px 0;
}

.evidence-title--icon_container:hover, .evidence-title--icon_container-delete:hover, .likes__button:hover {
    color: var(--text-surface-highlight) !important;
    border: none;
    /*background-color: rgba(168, 40, 16, 0.3); !* Accent Colour *!*/
}

.evidence-title--icon {
    font-size: 25px;
}

.evidence-title__name-date-div {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.evidence__date {
    padding: 0;
    height: 5rem;
    line-height: 5rem;
    width: 22%;
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
}

.evidence__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
    width: 75%;
    font-size: 25px;
}

.evidence-title__child:hover, .evidence__title--icon_container:hover, .evidence-title--icon_container-delete:hover {
    color: var(--text-faded);
}

.evidence__details {
    border-top: 1px solid var(--primary-highlight);
    padding-top: 1rem;
    padding-bottom: 1rem;
    visibility: visible;
}

.evidence__details--expanded {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.evidence__description {
    overflow-wrap: anywhere;
    margin: 0 0 1rem;
    font-size: 20px;
}

/*Weblink modal*/

.weblink-modal__header {
    padding: 1rem 0;
    color: var(--text-surface);
    border: none;

}

.close-button {
    color: var(--background);
}

.close-button:focus {
    color: var(--text-background);
    box-shadow: none;
}

.modal-title {
    float: left;
}

.weblink-modal__container {
    background-color: var(--surface);
    border-radius: 8px;
    overflow: hidden;
    color: var(--text-surface);
    padding: 2rem;
}

#weblink-modal__wrapper {
    display: block;
}

#weblink__modal label {
    margin-top: 0.5rem;
    /*margin-left: 0.5rem;*/
}

/* Set a style for the button */
#weblink__modal button {
    background-color: var(--primary-highlight);
    /*border: 1px solid var(--color-accent);*/
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-surface);
}

/*Add some hover effects to buttons */
#weblink__modal button:hover {
    color: var(--text-surface-highlight);
    border: none;
    cursor: pointer;
}

#weblink__modal button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.weblink-modal__footer {
    border: none;
    outline: none !important;
}

.form-error-message {
    margin-left: 10px;
    color: red;
    font-size: small;
    margin-top: -5px;
    margin-bottom: 10px;
}

#weblink-button {
    background-color: var(--primary-highlight);
    color: var(--text-surface);
    border: none;
    font-size: medium;
    padding: 5px 5px 5px 5px;
}

#weblink-button:hover {
    color: var(--text-surface-highlight);
}

#close-button{
    float: right;
}

.weblink-modal__input {
    background-color: var(--surface-highlight);
    border: none;
    border-radius: 2px;
    overflow: hidden;
    color: var(--text-surface);
}

.weblink-modal__input:focus {
    outline: 1px solid var(--outline);
}

.weblink-modal__input::placeholder {
    color: var(--outline);
}

/*Weblink modal end*/

.evidence__skills {
    display: flex;
    flex-wrap: wrap;
}

.evidence__categories {
    display: flex;
    flex-wrap: wrap;
}

#weblink-incorrect {
    color: red;
    margin-left: 15px;
}

.evidence-form__commits-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.evidence-form__commits-link-container {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.evidence-form__commits-date-author-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 14px;
}

.evidence-form__commits-author .evidence-form__commits-date .evidence-form__commits-message {
    padding: 0 !important;
    margin: 0 !important;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.user-tag-con {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 4px;
}

.user-tag {
    width: fit-content;
    height: fit-content;
    background-color: var(--primary-highlight);
    /*border: 1px solid var(--o);*/
    padding: 2px 4px 2px 4px;
    display: inline-block;
    border-radius: 5px;
    overflow-wrap: anywhere;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.user-tag-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-tag-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.user-tag-text {
    flex-direction: column;
    padding-left: 10px
}

.user-tag-nickname {
    color: var(--text-surface);
}

.user-like__link {
    text-decoration: none;
    color: black;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 10px;
}

.user-like__link:hover {
    color: var(--primary-highlight);
}

.user-like__image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}

.user-like__name-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    padding-left: 20px;
    margin-block: auto;
}

.user-like__container{
    max-height: 22rem;
    overflow-y: auto;
}