/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

.skill__link {
    /*border: 1px solid var(--text-surface);*/
    border: none;
    border-radius: 5px;
    background-color: var(--primary-highlight);
    padding: 2px 4px 2px 4px;
    margin: 4px;
    display: inline;
    text-decoration: none;
    color: var(--text-surface);
    text-align: center;
}

.skill__link:hover {
    filter: brightness(85%);
}

.no-skill__link {
    border: 1px solid var(--primary-highlight);
    border-radius: 5px;
    background-color: var(--surface);
    padding: 2px 4px 2px 4px;
    margin: 4px;
    display: inline;
    text-decoration: none;
    text-align: center;
    color: var(--text-surface);
}

.no-skill__link:hover {
    color:inherit;
    filter: brightness(85%);
}