@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    /* CSS variables */
    --color-primary: #FBAA60;
    --color-secondary: #FADFC6FF;
    --color-tertiary: #F67B50;
    --color-complement: #F4EAE6;
    --color-accent: #A82810;
}

/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

/******************** Login Page ********************/
body{
    background: var(--background);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    max-width: 500px;
    padding: 0 20px;
    margin: 50px auto;
}

.wrapper{
    width: 100%;
    background: var(--surface);
    border-radius: 8px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

.wrapper .title{
    height: 90px;
    background: var(--surface);
    border-radius: 5px 5px 0 0;
    color: var(--primary-highlight);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form{
    padding: 10px 25px 10px 25px;
}

.wrapper form .row{
    height: 40px;
    margin-bottom: 10px;
    position: relative;
}

.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: black;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

form .row input::placeholder{
    color: #999;
}

.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass{
    margin: -8px 0 20px 0;
}

.wrapper form .pass a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .button input{
    display: block;
    position: relative;

    border: 1px solid var(--primary-highlight);
    border-radius: 10px;
    background-color: var(--primary-highlight);
    padding: 0 2rem 0 2rem;
    margin-top: 1rem;
}

.wrapper form .button input:hover{
    cursor: pointer;
    filter: brightness(80%);
}

.register-navigation {
    margin-top: -40px;
}

.wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
.wrapper form .signup-link a{
    color: green;
    text-decoration: none;
}
form .signup-link a:hover{
    text-decoration: underline;
}
p{
    color: red;
    text-align: center;
}

.helper {
    font-size: small;
    color: #888888;
}

.subtitle {
    color: var(--text-surface);
    margin-left: -5px;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

hr {
    height: 3px;
    border: none;
    color: var(--outline);
}