

#user-header {
    padding: 15px 15px 15px 15px;
    border: 1px solid var(--color-accent);
    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
    border-radius: 10px;
}


.carousel-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 15px;
    justify-content: space-between;
}

.user-tab__button {
    color: white;
    border: 1px solid var(--color-accent);
    background-color: #e06c41 ;
    border-radius: 3px;
    height: 3rem;
    box-shadow: none;
    width: 100%;
    font-size: 1.5rem;
}

.user-tab__button:hover {
    color: #f78e55;
    border-color: #f78e55;
    background-color: #f4ebe6;
    height: 3rem;
    box-shadow: none;
    font-size: 1.5rem;
}