:root {
    /* CSS variables */
    --color-primary: #FBAA60;
    --color-secondary: #FADFC6FF;
    --color-tertiary: #F67B50;
    --color-complement: #F4EAE6;
    --color-accent: #A82810;
}


/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

/* User pages header */

#user-header {
    padding: 15px 15px 15px 15px;
    border: 1px solid var(--color-accent);
    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
    border-radius: 10px;
}

/* User tab buttons */
.user-tab__button {
    color: white;
    border: 1px solid var(--color-accent);
    background-color: #e06c41 ;
    border-radius: 3px;
    height: 3rem;
    box-shadow: none;
    width: 30%;
    font-size: 1.5rem;
}

.user-tab__button:hover {
    color: #f78e55;
    border-color: #f78e55;
    background-color: #f4ebe6;
    height: 3rem;
    box-shadow: none;
    font-size: 1.5rem;
}

/* Carousel buttons */
.carousel-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 10px;
    width: 50%;
}

/* User Statistics Tab */

.data-charts__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-categories-chart__flex-container, .evidence-time-chart__flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#user-chart__categories-chart, #user-chart__skills-chart, #user-chart__evidence-chart, #user-chart__time-chart {
    flex-grow: 1;
    overflow: hidden;
    height: 500px;
}

