

#user-header {
    padding: 15px 15px 15px 15px;
    /*border: 1px solid var(--primary-highlight);*/
    /*background-image: linear-gradient(180deg, var(--surface-highlight), var(--surface) 90%);*/
    background-color: var(--surface);
    color: var(--primary-highlight);
    border-radius: 8px;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
}

h1 {
    margin: 0 !important;
}

.carousel-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    width:fit-content;
    margin: 2rem 0;
}

/* User tab buttons */
.user-tab__button {
    color: var(--text-surface);
    border: 0;
    background-color: var(--surface);
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.user-tab__button:hover {
    color: var(--text-surface-highlight);
    background-color: var(--primary-highlight);
    height: 3rem;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    font-size: 1.5rem;
}

.active-carousel-tab {
    color: var(--text-surface-highlight);
    background-color: var(--primary-highlight);
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
}

/* User Statistics Tab */

.user-statistics__flex-container {
    display: flex;
    flex-direction:column;
}

.data-charts__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.evidence-chart__flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

#user-chart__skills-chart, #user-chart__time-chart {
    min-height: 25em;
    min-width: 35em;
    max-width: 60em;
    flex: 1 1 0;
    background-color: var(--surface);
    border-radius: 8px;
}

#user-chart__skills-chart text, #user-chart__time-chart text {
    fill: var(--text-surface);
}

.graph__dropdown {
    margin-top: 5px;
    max-width: fit-content;
}

.graphs-dropdown__button {
    position: relative;
    /*border: 1px solid var(--color-accent) !important;*/
    border: none;
    color: var(--text-surface);
    background-color: var(--primary-highlight) !important;
    padding: 10px;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: none !important;
}

.graphs-dropdown__button:hover {
    filter: brightness(85%);
    height: 3rem;
    box-shadow: none !important;
    font-size: 1rem;
    color: var(--text-surface);
}

.dropdown-graph__container {
    background-color: var(--surface);
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    border: none;
}

.chart__dropdown_item {
    background-color: var(--surface);
    color: var(--text-surface);
}

.chart__dropdown_item:hover {
    background-color: var(--surface-highlight);
    color: var(--text-surface);
}

.dropdown-menu {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a.hover {
    text-decoration: none;
}


