<!DOCTYPE html>
<link rel="stylesheet" th:href="@{styles/stylesheet.css}">

<div class="user-statistics__flex-container">
    <br>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle graphs-dropdown__button" data-bs-toggle="dropdown">Refine Graphs</button>
        <ul class="dropdown-menu">
        </ul>
    </div>

    <div class="data-charts__flex-container">
        <div class="evidence-time-chart__flex-container">
            <div id="user-chart__evidence-chart"></div>
            <div id="user-chart__time-chart"></div>
        </div>
        <div class="skills-categories-chart__flex-container">
            <div id="user-chart__categories-chart"></div>
            <div id="user-chart__skills-chart"></div>
        </div>
    </div>

    </div>
</div>