<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{${@environment.getProperty('PORTFOLIO_CONTEXT')} + '/favicon.ico'}"/>
    <link th:href="@{styles/theme.css}" rel="stylesheet"/>
    <link th:href="@{styles/user/registerPage.css}" rel="stylesheet" />
    <script defer rel="script" th:src="@{scripts/theme.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

</head >
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Register</span></div>
            <!-- error message received from the controller-->
            <p th:text="${registerMessage}" class="form-error-message"></p>
            <p th:text="${errorMessage}" class="form-error-message"></p>
            <p th:text="${loginMessage}" class="form-error-message"></p>

            <!-- form posts the params to the register controller-->
            <form th:action="@{'register'}"  method="post">
                <div>
                    <label class="subtitle">Account Details</label><hr><br>

                    <!--USERNAME-->
                    <div class="row">
                        <input type="text" th:name="username" th:value="${username} ?: ''" minlength="1" maxlength="64" required placeholder="Username*" class="required" title="Username must not be blank" th:pattern="${isNotBlankPattern}"/>
                        <p th:text="${usernameError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'username'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <!--EMAIL-->
                    <div class="row">
                        <input type="text" th:name="email" th:value="${email} ?: ''" pattern="^[A-Za-z0-9+_.-]+@(.+)$" minlength="1" maxlength="255" required placeholder="Email*" class="required" title="Email must be in valid format, e.g., abc@gmail.com"/></label>
                        <p th:text="${emailError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'email'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <!--PASSWORD-->
                    <div class="row">
                        <input type="password" th:name="password" minlength="8" maxlength="64" required placeholder="Password*" class="required" title="Password" /><br><label class="helper" >*Password, must be at least 8 characters</label>
                    </div>
                    <br>
                    <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'password'}">
                        <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                    </th:block>


                    <label class="subtitle">Full Name</label><br>

                    <!--FIRST NAME-->
                    <div class="row">
                        <input type="text" th:name="firstName" th:value="${firstName} ?: ''" minlength="1" maxlength="64" required placeholder="First Name*" class="required" title="First name must not be blank" th:pattern="${isNotBlankPattern}"/>
                        <p th:text="${firstNameError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'firstName'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <!--MIDDLE NAME-->
                    <div class="row">
                        <input type="text" th:name="middleName" th:value="${middleName} ?: ''" minlength="1" maxlength="64"  title="Middle Name" placeholder="Middle Name" class="helper" />
                        <p th:text="${middleNameError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'middleName'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <!--LAST NAME-->
                    <div class="row">
                        <input type="text" th:name="lastName" th:value="${lastName} ?: ''" minlength="1" maxlength="64" required placeholder="Last Name*" class="required" title="Last name must not be blank" th:pattern="${isNotBlankPattern}"/>
                        <p th:text="${lastNameError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'lastName'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <label class="subtitle">Personal Details</label><br>

                    <!--NICKNAME-->
                    <div class="row">
                        <input type="text" th:name="nickname" th:value="${nickname} ?: ''" maxlength="64" placeholder="Nickname" title="Nickname" />
                        <p th:text="${nicknameError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'nickname'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <!--PRONOUNS-->
                    <div class="row">
                        <input type="text" th:name="pronouns" th:value="${pronouns} ?: ''" maxlength="64" placeholder="Preferred Pronouns" title="Preferred Pronouns must be in format She/Her"  />
                        <p th:text="${pronounsError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'personalPronouns'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>

                    <!--BIO-->
                    <div class="row">
                        <label class="subtitle">Bio</label><label class="helper"></label><br>
                        <textarea th:name="bio" th:text="${bio} ?: ''" maxlength="128" placeholder=""></textarea>
                        <p th:text="${bioError}" class="form-error-message"></p>
                        <th:block th:each="validationError: ${validationErrors}" th:if="${validationError.FieldName == 'bio'}">
                            <p th:text="${validationError.ErrorText}" class="form-error-message"></p>
                        </th:block>
                    </div>
                    <br>

                    <!--SUBMIT-->
                    <div class="row button" >
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
            <form class="register-navigation" th:action="@{login}">
                <div class="row button">
                    <label>
                        <input type="submit" value="Back">
                    </label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
