/******************** Add/Edit Group Form ********************/

.group-form__header {
    padding: 3rem 2rem 3rem 2rem;
    background-color: var(--surface);
    color: var(--text-surface);
}

#group-form__wrapper {
    display: block;
    background-color: var(--surface);
    border-radius: 8px;
    overflow: hidden;
}

#group-form__form {
    padding: 1rem 2rem 1rem 2rem;
}



#group-form__form label {
    margin-bottom: 0.5rem;
}

#group-form__form input, #sprint-form__form textarea {
    margin: 0 0 1rem 1rem;
    border: none;
    color: var(--text-surface);
    background-color: var(--surface-highlight);
}

#char-count__long_name, #char-count__short_name {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the  button */
#group-form__form button, #group-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--primary-highlight);
    border-radius: 8px;
    overflow: hidden;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--text-surface);
    font-size: 1rem;
    text-decoration: none;
    border: none;
}

/*Add some hover effects to buttons */
#group-form__form button:hover, #group-form__form a:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.form-error-message {
    margin-left: 10px;
    color: red;
    margin-top: -5px;
    margin-bottom: 10px;
}