
/******************** Group Cards ********************/

.group {
    position: relative;
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
    background-color: var(--surface);
}

#group__header-div {
    position: relative;
    padding: 15px 15px 15px 15px;
    background-color: var(--surface);
    color: var(--primary-highlight);
    border-radius: 8px;
    margin-bottom: 15px;
}

#group__header-title {
    margin-left: 30px;
}

#group__header-project {
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: normal;
}



.group__details-wrapper {
    position: relative;
    padding: 0 2rem 0 2rem;
}

.group__name {
    margin: 0;
    padding: 0;
    height: 5rem;
    line-height: 5rem;
    color: var(--text-surface);
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.group__name:hover {
    color: var(--outline);
}

.table {
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
    font-size: small;
    margin: 25px auto;
    --bs-table-hover-bg: var(--primary-highlight);
    color: var(--text-surface);
    --bs-table-accent-bg: none !important;
}

.table-active {
    --bs-table-accent-bg: none !important;
}

.group__details {
    padding-top: 1rem;
    visibility: visible;
}

.group__button-wrapper {
    position: absolute;
    top: 1rem;
    right: 0;
}
.group__long-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.group__details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.group__details-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#remove-user__button {
    /*margin-right: 1rem;*/
    border-radius: 8px;
    min-width: fit-content;
    line-height: 3rem;
    background-color: var(--primary-highlight);
    color: var(--text-surface-highlight);
    border: none;
}

#remove-user__button:hover {
    filter: brightness(85%);
}

.group__button {
    /*margin-right: 1rem;*/
    border-radius: 8px;
    min-width: fit-content;
    line-height: 3rem;
    background-color: var(--primary-highlight);
    color: var(--text-surface-highlight);
    border: none;
}

.group__button:hover {
    filter: brightness(85%);
}

.new-group__container {
    display: flex;
    align-content: center;
    padding-bottom: 20px;
    justify-content: flex-start;
}

#new-group__button {
    padding: 10px;
    background-color: var(--primary-highlight);
    color: var(--text-surface-highlight);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
}

#new-group__button:hover {
    filter: brightness(85%);
}


.selected {
    color: var(--surface-highlight);
    background-color: var(--primary-highlight) !important;
}
