/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

/* Group Header */

#group {
    position: relative;

    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}

#group header {
    padding: 15px 15px 15px 15px;
    background-color: var(--surface);
    color: var(--text-surface);
}

.group-short-name {
    font-weight: 400;
    margin: 0 0 1rem 0;
    width: calc(100% - 15rem);
    word-wrap: break-word;
}

.group__button-wrapper {
    position: absolute;
    top: 5.5rem;
    right: 0;
}

.group__button-wrapper button {
    /* Position & Size */
    margin-right: 1rem;
    padding: 0 1rem 0 1rem;
    min-width: 4rem;
    height: 3rem;
    line-height: 2rem;

    /* Text */
    font-size: 1rem;
    font-weight: 400;
    background: var(--primary-highlight);
    border: none;
    border-radius: 8px;
    color: var(--surface-highlight);

}

.group__button-wrapper button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

/* Tab Buttons */

.carousel-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    width:fit-content;
    margin: 2rem 0;
}

.group-tab__button {
    color: var(--text-surface);
    border: 0;
    background-color: var(--surface);
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.group-tab__button:hover {
    color: var(--text-surface-highlight);
    background-color: var(--primary-highlight);
    height: 3rem;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    font-size: 1.5rem;
}

.active-carousel-tab {
    color: var(--text-surface-highlight);
    background-color: var(--primary-highlight);
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
}

/* Group Home */

.group-home {
    padding-top: 20px;
}

.group-members {
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}


.group-members__container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-height: 22rem;
    overflow-y: auto;
    border-top: 1px solid var(--primary-highlight);
}

.evidence__container {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0 0;
    max-height: 30rem;
    overflow-y: auto;
    border-top: 1px solid var(--primary-highlight);
}

.group-member__link {
    text-decoration: none;
    color: var(--text-surface);
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 30px;
}

.group-member__link:hover {
    filter: brightness(85%);
}

.group-member__image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}

.group-member__name-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    padding-left: 20px;
    margin-block: auto;
}

.group-member__nickname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    margin-left: auto;
    margin-block: auto;
}

.filter-tags {
    background-color: var(--surface);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
}

.categories__details {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--primary-highlight);
}

.skill__details {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--primary-highlight);
    padding-bottom: 30px;
}

/* Group Statistics */
.group-chart__settings-div {
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    background-color: var(--surface-highlight);
    padding: 25px;
    color: black;
    font-size: 20px;
}

#group-chart__graph-div {
    display: flex;
    height: 800px;
}


/* Group Repository */

.group-repository__container {
    background-color: var(--surface);
    color: var(--text-surface);
    padding: 2rem;
    border-radius: 8px;
    overflow: hidden;
}

#group-repository-form__wrapper {
    display: block;
    background-color: var(--surface);
    border-radius: 8px;
    overflow: hidden;
}

#group-repository-form__form {
    padding: 1rem 2rem 1rem 2rem;
}

#group-repository-form__form label {
    margin-bottom: 0.5rem;
}

#group-repository-form__form input, #group-repository-form__form textarea {
    margin: 0 0 1rem 0;
    border: none;
    background-color: var(--surface-highlight);
    color: var(--text-surface);
}

.group-repository-form__header {
    color: var(--text-surface);
    border: none;
}

#char_count_long_name, #char_count_short_name {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the  button */
#group-repository-form__form button, #group-repository-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--primary-highlight);
    border-radius: 8px;
    overflow: hidden;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--text-surface);
    font-size: 1rem;
    text-decoration: none;
    border: none;
}

/*Add some hover effects to buttons */
#group-repository-form__form button:hover, #group-repository-form__form a:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.group-repository__wrapper {
    position: relative;
    padding: 0 1rem 0 1rem;
}

.repository_container {
    background-color: var(--surface);
    margin: 1rem 0 1rem 0;
    visibility: visible;
    border-radius: 10px;

}

#open-modal__button {
    font-size: x-large;
    height: 3rem;
    margin: 2rem 1rem 1rem auto;
    background-color: var(--primary-highlight);
    border-radius: 8px;
    border: none;
}

#open-modal__button:hover {
    filter: brightness(85%);
}

#group-repository-info__wrapper {
    align-items: start;
}

#group-repository-information {
    margin: 1rem;
}

/* Groups Statistics */

.group-statistics__flex-container {
    display: flex;
    flex-direction:column;
}

.data-charts__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.evidence-chart__flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

#group-chart__categories-chart, #group-chart__skills-chart, #group-chart__evidence-chart, #group-chart__time-chart {
    min-height: 25em;
    min-width: 35em;
    max-width: 60em;
    flex: 1 1 0;
}

.graph__dropdown {
    margin-top: 5px;
    max-width: fit-content;
}

.graphs-dropdown__button  {
    position: relative;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary-highlight) !important;
    padding: 10px;
    height: 3rem;
    text-decoration: none;
    color: var(--text-surface);
    box-shadow: none !important;
}

.graphs-dropdown__button:hover {
    filter: brightness(85%);
    background-color: var(--text-surface);
    height: 3rem;
    box-shadow: none !important;
    font-size: 1rem;
}

.graphs-dropdown__button:active {
    background-color: var(--primary-highlight);
}

#group-chart__evidence-chart, #group-chart__time-chart, #group-chart__categories-chart, #group-chart__skills-chart {
    min-height: 25em;
    min-width: 35em;
    max-width: 60em;
    flex: 1 1 0;
    background-color: var(--surface);
    border-radius: 8px;
}

#group-chart__evidence-chart text, #group-chart__time-chart text, #group-chart__categories-chart text, #group-chart__skills-chart text {
    fill: var(--text-surface);
}

.dropdown-graph__container {
    background-color: var(--surface);
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
    border: none;
}

.chart__dropdown_item {
    background-color: var(--surface);
    color: var(--text-surface);
}

.chart__dropdown_item:hover {
    background-color: var(--surface-highlight);
    color: var(--text-surface);
}

.chart__dropdown_item:active {
    background-color: var(--surface-highlight);
}

.dropdown-menu {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a.hover {
    text-decoration: none;
}




