
/******************** Group Cards ********************/

.group, #new-group-button {
    position: relative;
    margin-bottom: 1rem;
}

#group__header-div {
    position: relative;
    padding: 15px 15px 15px 15px;
    background-color: var(--surface);
    color: var(--primary-highlight);
    border-radius: 8px;
    margin-bottom: 15px;
}

#group__header-title {
    margin-left: 30px;
}

#group__header-project {
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: normal;
}


.group, #new-group-button, .group__button-wrapper button, #open-modal__button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: var(--color-complement);
}

.group__details-wrapper {
    position: relative;
    padding: 0 2rem 0 2rem;
}

.group__name {
    margin: 0 15rem 0 0;
    padding: 0;
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
}

.group__name:hover {
    color: var(--color-accent);
}

.table {
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
    font-size: small;
    margin: 25px auto;
}

.group__details {
    border-top: 1px solid var(--color-accent);
    padding-top: 1rem;
    visibility: visible;
}

.group__button-wrapper {
    position: absolute;
    top: 1rem;
    right: 0;
}
.group__long-name {
    word-wrap: break-word;
}

.group__button-wrapper button{
    /* Position & Size */
    margin-right: 1rem;
    padding: 0 1rem 0 1rem;
    min-width: 4rem;
    height: 3rem;
    line-height: 3rem;

    /* Text */
    font-size: 1rem;
    font-weight: 400;
}

.new-group__container {
    display: flex;
    align-content: center;
    padding-bottom: 20px;
    justify-content: flex-start;
}

#new-group__button {
    padding: 10px;
    background-color: var(--primary-highlight);
    color: var(--text-surface);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
}

#new-group__button:hover {
    filter: brightness(85%);
}


.selected {
    opacity: 0.8 !important;
}

#no-hover {
    --bs-table-hover-bg: var(--color-complement);
}